<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net452" />
  <package id="Serilog" version="1.5.1" targetFramework="net452" />
  <package id="TransientFaultHandling.Core" version="5.1.1209.0" targetFramework="net452" />
</packages>